body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    padding: 0;
    color: #333;
}

header p {
    color: #777;
    font-size: 1.2em;
}

section {
    margin-bottom: 20px;
}

section h2 {
    color: #333;
    border-bottom: 2px solid #e8491d;
    padding-bottom: 10px;
}

section p,
section ul {
    margin: 10px 0;
    color: #555;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #e8491d;
    color: #fff;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

a {
    color: #e8491d;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.job h3 {
    margin: 0;
    padding: 0;
    color: #333;
}

.job p {
    margin: 5px 0;
    color: #555;
}
